# untracked folders and files
"Computer Vision/Image Analysis/Semantic Segmentation Rufai Balogun/unet_final"
"Computer Vision/Image Processing/Gonzalez, Rafael C._ Woods, Richard E. - Digital image processing (2018, Pearson) - libgen.lc.pdf"
"Computer Vision/Image Analysis/Deep Learning for Image Analysis/Deep_Learning_for_Raster_Data_Rufai_Balogun.ipynb"
"Computer Vision/Image Analysis/yolov3-spp-munich_best.weights"
"Computer Vision/Image Analysis/Deep Learning for Image Analysis/landCover.hdf5"
"Computer Vision/Image Analysis/Semantic Segmentation Rufai Balogun/segnet_final"
"Computer Vision/Image Processing/Gonzalez, Rafael C._ Woods, Richard E. - Digital image processing (2018, Pearson) - libgen.lc.pdf"


# compiled sources
*.com
*.class
*.dll
*.exe
*.o
*.so


# packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.mat
*.tif
*.grd
*.grd.hdr
*.hgt
*.omd
*.hdf5
*.b3dm
*.pnts
*.vrt
*.prj
*.SHP
*.MIF
*.SHX
*.AVL
*.DBF
*.LYR
*.MID
*.asc
*.xml
*.pdf